* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100vw;
  height: 100vh;
  background-color: #646464;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 70%;
  height: 80%;
  padding: 1rem 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  overflow-y: auto;
  z-index: 1000;
  color: black;
  display: flex;
  justify-content: 	center;
  align-items: space-between;

  button {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1rem 0;
    background-color: black;
    color: white;
    border: none;
    &:hover {
      background-color: #646464;
    }
    &:active {
      background-color: rgb(56, 56, 56);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  & > * {
    min-width: 250px;
  }
  h2 {
    width: 100%;
    text-align: center;
  }
  div {
    width: 44%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div:last-of-type {
    max-width: 70px;
  }
  hr {
    width: 100%;
  }
}

.succes-modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    margin-bottom: 2rem;
  }
  img {
    width: 15rem;
  }
}
